.clearfix {
    color: black;
    font-style: normal;
    font-family: microsft yahei;
}

body {
    background-color: #E4E3DA;
}

.wrap {
    width: 970px;
    background-color: #FCFBF0;
    margin: 0 auto;
}

.nav {
    text-align: center;
    width: 100%;
}

.navwrap {
    width: 350px;
    margin: 0 auto;
}

.nav .navwrap div {
    float: left;
}

#date {
    margin-top: 20px;
    width: 100px;
    font-size: 12px;
    line-height: 1.8;
}

#home {
    width: 230px;
}
